body{
    background-image: url('img/imagen1.jpg');
    background-size: cover;
    /* background-repeat: no-repeat; */
}

.imagen{
    width: 100px;
    /* height: 100px; */
}


.articulo{
    background-color: white;
    padding: 20px;
    margin: 50px;
    border: solid 1px #A0A0A0;
}



.contenedor{
    background-color: black;
    color: white;
    padding: 20px;
}


.contenedor .caja-fondo{
    width: 500px;
    height: 500px;
    background-image: url('img/imagen3.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}