p{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    line-height: 1;
    text-decoration: underline;
    letter-spacing: 10px;
    word-spacing: 20px;
}